
  		<div class="container footer">
  		    <hr/>
  			<div class="row">
  				<div class="col-sm-4 copyright">
  					<span>Copyright © 2017 Johnny Shi</span>
  				</div>
  				<div class="text-right col-sm-8">
  					<div class="links">
  						<a data-toggle="">
  						</a>
  					</div>
  				</div>
  			</div>
  		</div>
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    	<!-- Latest compiled JavaScript -->
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="/javascripts/checkCapsLock.js"></script>
  	</body>
</html>