<%- include header %>
main page
<i class="fa fa-camera-retro fa-lg"></i> fa-lg
<a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout </a>
<% if (success) { %>
  <div><%= success %></div>
<% } %>
<% if (error) { %>
  <div><%= error %> </div>
<% } %>
<%- include footer %>
