/***************************
****************************
Global Settings
****************************
***************************/

*, *:before, *:after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


html, body { 
    height: 100%;
}

/***************************
****************************
These are the styles for
the header section
****************************
***************************/

/*navbar-brand*/
.navbar-brand {
    display:flex;
    align-items:center;
    font-family: 'Pacifico', Georgia, serif;
    color: #9effd8;
}

.navbar-brand span img {
    height: 30px;
	width: 30px;
}

#navbar_toggler_btn {
    color: white;
    outline: none;
}

nav {
    height: 62px;
}

/*navbar-user*/
#portrait {
	height: 30px;
	width: 30px;
}

/*.user-dropdown {
    height: 200px;
    width: 100%;
}*/


/*registration form*/
.reg-form {
	max-width: 50%;
	margin: 70px auto;
}

/*login form*/
.login-form{
	max-width: 50%;
	margin: 70px auto;
}

#password, #password_repeat{
	padding-right: 22px;
}

.capsLockIcon{
	position: relative;
	float: right;
    margin-right: 8px;
    margin-top: -24px;
    z-index: 1;
    color: grey;
    visibility: hidden;
}

/*clear the browser embeded caps lock indicator*/
input::-webkit-caps-lock-indicator {
    content: none;
}

/*validation check*/
.input-requirements {
  	font-size: 1.3rem;
  	font-style: italic;
  	text-align: left;
  	list-style: disc;
  	list-style-position: inside;
  	max-width: 400px;
  	margin: 10px auto;
  	color: rgb(150,150,150);
}

.input-requirements li.invalid {
	color: #e74c3c;
}
.input-requirements li.valid {
	color: #2ecc71;
}

.input-requirements li.valid:after {
	display: inline-block;
	padding-left: 10px;
	content: "\2713";
}

/* valid input green border */
.reg-form input:not([type="submit"]):valid {
  border-color: #2ecc71;
}


/* Hide and show related .input-requirements when interacting with input */

.form-group > .input-requirements {
  overflow: hidden;
  max-height: 0;
  transition: max-height 1s ease-out;  
}

div:([class="form-group"]):hover > .input-requirements,
div:([class="form-group"]):focus > .input-requirements,
div:([class="form-group"]):active > .input-requirements {
  max-height: 1000px; /* any large number (bigger then the .input-requirements list) */
  transition: max-height 1s ease-in;
}

@media screen and (max-height: 575px){ 
	.g-recaptcha {
		transform:scale(0.77);
		-webkit-transform:scale(0.77);
		transform-origin:0 0;
		-webkit-transform-origin:0 0;
	} 
}

#g-recaptcha-error {
	color: #e74c3c;
}

/***************************
****************************
These are the styles for
the index second screen section
****************************
***************************/

#second_screen {
    background-image:url(../images/background/fruit_background.jpg);
    height:1200px;
    background-size:100%;
    background-repeat: no-repeat;
}


/***************************
****************************
These are the styles for
first screen video
****************************
***************************/
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
    background-color: #000000;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}

.video-annotation-layer{
    width:100%;
    height:100%;
}
#video-annotation-1{
    position:absolute;
    top:70%;
    left:40%;
    font-size:60px;
    text-align:center;
    font-family: 'Bitter', Georgia, serif;
    color: #16f765;
}
#video-annotation-2{
    position:absolute;
    top:60%;
    left:30%;
    color:blue;
    background-color:white;
    font-size:40px;
    text-align:center;
}


/***************************
****************************
These are the styles for
map screen
****************************
***************************/

#search_ingredients {
    padding-top: 62px;
}

#map {
    width: 40%;
    height: calc(100vh - 62px);
    position: fixed;
    float: left;
}

#map_handler {
    width: 60%;
    /*margin-left: 40%;*/
    float: right;
    /*overflow: scroll;*/
    background-color: yellow;
}

.search-contents {
    height: -webkit-calc(100vh - 62px - 50px);
    height: -moz-calc(100vh - 62px - 50px);
    height: calc(100vh - 62px - 50px);
    overflow: scroll;
}
.food-search {
    background-color: pink;
}

.food-search-result {
    background-color: red;
    min-height: 5px;
}

#food_search_engine h3 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
}

.search_tags {
    vertical-align: center;
}

#main_searchbar {
    padding-top: 10px;
    padding-bottom: 10px;
}

.search-button {
    position: relative;
    float: right;
    margin-right: 8px;
    margin-top: -33px;
    z-index: 1;
    border: none;
    outline: none;
    cursor:pointer;
    color: black;
}

.search-button:focus {
    border:none;
    outline:none;
}


/*footer*/
footer {
	clear: both;
    height:50px;
    background:#ddd;
}

.footer-sm {
    /*float: right;*/
    width: 100%;
    height: 50px;
    background-color: grey;
}